.navbar .menu-items {

  font-size: 12px !important;
  padding: 6px;

}

.grey-gallery {
  background-color: rgb(250, 250, 250);
}

.grey-products {
  background-color: rgb(250, 250, 250);
}

.grey-media {
  background-color: rgb(250, 250, 250);
}

#gallery {
  padding-top: 37px;
  padding-bottom: 8px;
 
}

#products{
  padding-top: 37px;
  padding-bottom: 8px;
  
}

#media{
  padding-top: 37px;
  padding-bottom: 8px;
 
}

#gallery-menu {
  display: none;
  position: absolute;
  width: 290px;
  background: #ffffff;
  color: #000000;
  border: 1px solid #fafafa;
  font-size: 14px;
}


#products-menu {
  display: none;
  position: absolute;
  width: 290px;
  background: #ffffff;
  color: #000000;
  border: 1px solid #fafafa;
  font-size: 14px;
}

#media-menu {
  display: none;
  position: absolute;
  width: 290px;
  background: #ffffff;
  color: #000000;
  border: 1px solid #fafafa;
  font-size: 14px;
}


* {
  box-sizing: border-box;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}
.rui.tagtree > .header {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  background-color: rgb(250, 250, 250);
}
.header {
  z-index: 99;
  background-image: initial;
  background-position-x: initial;
  background-position-y: initial;
  background-size: initial;
  background-repeat-x: initial;
  background-repeat-y: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: rgb(255, 255, 255);
  position: relative;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: rgb(238, 238, 238);
}
.rui.tagtree > .header .title {
  text-transform: none;
  font-size: 2rem;
}
html:not(.rtl) .rui.tagtree > .header .title {
  padding-right: 20px;
}
a {
  background-color: transparent;
  color: rgb(114, 192, 44);
  text-decoration-line: none;
  text-decoration-style: initial;
  text-decoration-color: initial;
  cursor: pointer;
}
a:focus {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 5px;
  outline-offset: -2px;
  text-decoration-line: none;
  text-decoration-style: initial;
  text-decoration-color: initial;
}
.rui.navbar a, .rui.navbar a:hover, .rui.navbar a:focus, .rui.navbar .dropdown-toggle {
  color: rgb(0, 0, 0);
  cursor: pointer;
  text-decoration-line: none;
  text-decoration-style: initial;
  text-decoration-color: initial;
}
.rui.tagnav .navbar-item .dropdown-container a {
  color: rgb(35, 86, 109);
}
a, a:visited {
  color: #333333;
  text-decoration-line: none;
  text-decoration-style: initial;
  text-decoration-color: initial;
}
a, a:focus, a:hover, a:active, button, button:hover {
  outline-color: initial;
  outline-style: initial;
  outline-width: 0px;
}
a, a:focus, a:hover, a:active {
  outline-color: initial;
  outline-style: initial;
  outline-width: 0px;
}
a:hover {
  color: #333333;
  text-decoration-line: underline;
  text-decoration-style: initial;
  text-decoration-color: initial;
}
.fa {
  display: inline-block;
  font-style: normal;
  font-variant-caps: normal;
  font-variant-ligatures: normal;
  font-variant-numeric: normal;
  font-variant-east-asian: normal;
  font-weight: normal;
  font-stretch: normal;
  line-height: 1;
  font-family: FontAwesome, FontAwesomeFallback;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}
.fa-angle-right::before {
  content: "";
}
.rui.tagtree > .content {
  display: flex;
  flex-wrap: wrap;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
}
.content {
  padding-top: 40px;
  padding-bottom: 40px;
}


/*
* {
  box-sizing: border-box;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}
.rui.navbar .rui.tagnav .tag-group {
  display: inherit;
}
.rui.tagnav .navbar-item {
  height: 55px;
}
.selected {
  color: red;
}
a {
  background-color: transparent;
  color: rgb(114, 192, 44);
  text-decoration-line: none;
  text-decoration-style: initial;
  text-decoration-color: initial;
  cursor: pointer;
}
a:focus {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 5px;
  outline-offset: -2px;
  text-decoration-line: none;
  text-decoration-style: initial;
  text-decoration-color: initial;
}
.rui.navbar a, .rui.navbar a:hover, .rui.navbar a:focus, .rui.navbar .dropdown-toggle {
  color: rgb(0, 0, 0);
  cursor: pointer;
  text-decoration-line: none;
  text-decoration-style: initial;
  text-decoration-color: initial;
}
.rui.tagnav .rui.tag {
  display: flex;
  width: 100%;
  background-color: transparent;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
}
.rui.tagnav .navbar-item > .rui.tag.link {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  width: auto;
  height: 100%;
  padding-top: 0px;
  padding-right: 20px;
  padding-bottom: 0px;
  padding-left: 20px;
  text-transform: uppercase;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}
.rui.tagnav .navbar-item:hover > .rui.tag.link {
  background-color: rgb(230, 230, 230);
  color: rgb(51, 51, 51);
}
.rui.tagnav .navbar-item.selected > .rui.tag {
  background-color: rgb(230, 230, 230);
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}
.rui.tag {
  display: flex;
  background-color: rgb(230, 230, 230);
  padding-top: 6px;
  padding-right: 12px;
  padding-bottom: 6px;
  padding-left: 12px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
  margin-top: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
}
a, a:visited {
  color: rgb(116, 243, 200);
  text-decoration-line: none;
  text-decoration-style: initial;
  text-decoration-color: initial;
}
a, a:focus, a:hover, a:active, button, button:hover {
  outline-color: initial;
  outline-style: initial;
  outline-width: 0px;
}
a, a:focus, a:hover, a:active {
  outline-color: initial;
  outline-style: initial;
  outline-width: 0px;
}
a:hover {
  color: rgb(114, 192, 44);
  text-decoration-line: underline;
  text-decoration-style: initial;
  text-decoration-color: initial;
}
.rui.tagnav .navbar-item .dropdown-container {
  display: none;
  color: rgb(51, 51, 51);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 12px -3px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-right-width: 0px;
  border-left-width: 0px;
  border-right-style: initial;
  border-left-style: initial;
  border-right-color: initial;
  border-left-color: initial;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: rgb(204, 204, 204);
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(204, 204, 204);
}
.rui.tagnav .navbar-item.selected .dropdown-container {
  display: block;
  position: absolute;
  top: 55px;
  left: 0px;
  z-index: 1000;
  width: 100%;
  max-width: 100%;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  background-color: rgb(255, 255, 255);
}
.dropdown-container {
  position: absolute;
  top: 100%;
  left: 0px;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 200px;
  max-width: 330px;
  margin-top: 2px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  list-style-type: none;
  list-style-position: initial;
  list-style-image: initial;
  font-size: 14px;
  background-color: rgb(255, 255, 255);
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-color: rgba(0, 0, 0, 0.15);
  border-right-color: rgba(0, 0, 0, 0.15);
  border-bottom-color: rgba(0, 0, 0, 0.15);
  border-left-color: rgba(0, 0, 0, 0.15);
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.176) 0px 6px 12px;
  background-clip: padding-box;
}
.rui.tagtree > .header {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  background-color: rgb(250, 250, 250);
}
.header {
  z-index: 99;
  background-image: initial;
  background-position-x: initial;
  background-position-y: initial;
  background-size: initial;
  background-repeat-x: initial;
  background-repeat-y: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: rgb(255, 255, 255);
  position: relative;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: rgb(238, 238, 238);
}
.rui.tagtree > .header .title {
  text-transform: none;
  font-size: 2rem;
}
html:not(.rtl) .rui.tagtree > .header .title {
  padding-right: 20px;
}
.rui.tagnav .navbar-item .dropdown-container a {
  color: rgb(35, 86, 109);
}
.fa {
  display: inline-block;
  font-style: normal;
  font-variant-caps: normal;
  font-variant-ligatures: normal;
  font-variant-numeric: normal;
  font-variant-east-asian: normal;
  font-weight: normal;
  font-stretch: normal;
  line-height: 1;
  font-family: FontAwesome, FontAwesomeFallback;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}
.fa-angle-right::before {
  content: "";
}
.rui.tagtree > .content {
  display: flex;
  flex-wrap: wrap;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
}
.content {
  padding-top: 40px;
  padding-bottom: 40px;
}
.rui.grouptag {
  -webkit-box-flex: 1;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  max-width: 200px;
  min-width: 150px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}
.rui.grouptag > .header {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(204, 204, 204);
}
.rui.grouptag > .header .rui.tag {
  font-weight: 600;
  text-transform: uppercase;
}
.rui.tagnav .navbar-item .dropdown-container .rui.tag, .rui.tagnav .rui.tag.edit input {
  color: rgb(51, 51, 51);
}
.rui.tagnav .rui.tags {
  display: flex;
  flex-wrap: wrap;
}
.rui.tags {
  display: flex;
  flex-wrap: wrap;
}