.parallax-quote {
    background: url(../public/img/patterns/16.jpg) 50% 0 repeat fixed !important;
}

.dropzone {
    min-height: 150px;
    border: 2px solid rgba(0, 0, 0, 0.2);
    background: white;
    padding: 54px 54px;
}

.parallax-quote-light .parallax-quote-in {
    background-color: #E7F76D;
}

.breadcrumbs.breadcrumbs-light {
    background: #fff;
}

.parallax-quote {
    background: url(../public/img/lark/art/waterfallweb.jpg) 50% 0 repeat fixed !important;
}

/*.header-fixed .header-v6.header-sticky {
    border-bottom: 1px solid #FFBFCB!important;
}*/

.header-v6.header-classic-white .navbar {
    background: rgba(253, 227, 167, 0.5);
}

.headline1 {
    display: block;
    margin: 10px 0 25px 0;
}

.headline1 h2, .headline1 h3, .headline1 h4 {
    border-bottom: 2px solid #a10f2b;
}

.footer{
    position: bottom;
	background-color: #ECDAAF;
	color:#a10f2b;
}
.cube-portfolio{
    text-align: center;
 }
.cbp-caption-activeWrap {
    background-color: #EEEEEE;
    max-width: 100%;
}

.cbp-caption{

}
.increasefont{
    font-size: 15px!important;
    background: #f7f7f7;
}

.img-thumbnail{
    height:400px;
}

.cbp-caption-defaultWrap{
  max-width: inherit !important;
}

.cbp-l-caption-title{
    color: #a10f2b;
    font-weight: 700;
    word-break: break-all;
    word-wrap:break-word;
}

.cbp-l-caption-desc{
    color: #a10f2b;

}

.cbp-l-filters-text .cbp-filter-item{
    font-weight: 700;
    font: 400 15px/21px Lato, sans-serif;
}

.cbp-item {
    vertical-align: top;
    position: center;
    max-width: 100%;
}

.cbp-title-dark{
    max-width: inherit !important;
}
.cube-portfolio .cbp-l-grid-agency-title {
    white-space: normal;
    font-size: 13px;
    font-weight: 600;
    max-width: 300px;
    position: right;
}

.cube-portfolio .cbp-l-grid-agency-desc {
    white-space: normal;
    font-size: 11px;
    max-width: 300px;
}


.shrink-logo{
    height:100px !important;
    margin-top: -8px;
    max-height: 300px !important;
    margin-right: 240px;
}

.owl-carousel span{
    font-size: 15px !important;
}

.portfolio-box-v1 li:hover:after{
    background: none;
}

p {
    text-align: justify;
    text-justify: inter-word;
}

.loader {
    position: fixed;
    text-align: center;
    left: 50%;
    top: 80%;
    width: 50px;
    height: 50px;
    z-index: 9999;
    background: url('../public/img/loading-icon/facebook.gif') 50% 50% no-repeat;
    opacity: 0.8;
}

h2:before {
  display: block;
  content: " ";
  margin-top: -150px;
  height: 150px;
  visibility: hidden;
}
/*
.selected{
    color: red;
}
*/

.bio-links{
    color: #6C3306 !important;
}

.bio-links:hover{
    color: #6C3306 !important;
}

.header-fixed .header-v6.header-sticky{
    height: 200px !important;
}

@media (max-width: 991px) {
    /*Header*/
    .header-fixed .header,
    .header-fixed .header.header-fixed-shrink {
       max-width: 105px !important;
    }
}

img.img-bordered{
    width: 450px;
}

.shadow-effect-2{
    width: 450px;
}

.bio{
  height: 350px !important;
}

@media (min-width: 992px) {
  .header-v6 .open > .dropdown-menu {
    display: inherit;
  }
}

.rui.navbar {
  background-color: inherit !important;
}

.bg-white{
  background: #ffffff !important;
  border-top: solid 1px #eee;
  border-bottom: solid 1px #eee;
}

.featuredImage {
  height: auto !important;
}

h1, h2, h3, h4, h5, h6 {
  color: #555 !important;
  font-weight: normal !important;
  font-family: "Open Sans", Arial, sans-serif !important;
}

.bg-color-beige-dark{
  background-color: #b49e6b !important;
}

.headline-center.headline-light h2 {
  color: #fff !important;
}

.off-info{
  height: 100px;
  width: 120px;
  align-items: center;
  justify-content: center;
  color: #6a1b9a;
  font-size: 30px;
  line-height: 1;
  border-bottom: 3px dashed #e7e7e7;
  font-weight: 700;
}

.coupon {
  width: 50px;
  padding: 10px;
  text-align: center;
  color: red;
  border: 3px dashed #FF0000;
}

.couponProductDetails{
  width: 50px;
  padding: 8px;
  text-align: center;
  color: red;
  font-size: 20px;
  border: 3px dashed #FF0000;
}

.discountFont{
  font-size: 12px;
}

.discountCircle {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  font-size: 17px;
  color: #fff;
  line-height: 68px;
  text-align: center;
  background: #F1C40F;
}

.discountCirclePDP {
    width: 150px;
    height: 150px;
    border-radius: 8px;
    font-size: 35px;
    color: #fff;
    line-height: 68px;
    text-align: center;
    background: #F1C40F;
}

.discount {
  font-weight: 700 !important;
  font-size: 15px;
}
