﻿.delete-image {
  margin-top:30px;
  margin-right:-15px;
  position: center;
  float:right;
  cursor: pointer;
}

.delete-image:hover {
  text-decoration: none;
}

.cbp-caption-activeWrap{
     
}
.artname,.add-art:hover{
    position:center;
    float:right;
    cursor:pointer;
}

#grid-container{
    text-align:center;
    display: block;
  }

.stretch {
    width: 100%;
    display: inline-block;
    font-size: 0;
    line-height: 0
}

.cbp-title-dark{
 margin-bottom: 20px;
}