@import "{}/imports/plugins/included/default-theme/client/styles/main.less";
@footer-default-bg: #ECDAAF;
@footer-default-color: #ECDAAF;
@panel-footer-padding:        0px;

.lark {
  height: 30px;
  background-color: #00b3ee;
  padding: 10px;
}

.bkdebug {
  float: left;
  padding-left: 10px;
}

.bkdebug em {
  font-weight: 700;
}
