* {
  box-sizing: border-box;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 5px;
  padding-right: 5px;
}
.content-sm {
  padding-top: 60px;
  padding-bottom: 60px;
}
.row {
  margin-left: -5px;
  margin-right: -5px;
}
.about-me {
  overflow-x: hidden;
  overflow-y: hidden;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 5px;
  padding-right: 5px;
}
.shadow-wrapper {
  z-index: 1;
  position: relative;
}
.box-shadow {
  background-image: initial;
  background-position-x: initial;
  background-position-y: initial;
  background-size: initial;
  background-repeat-x: initial;
  background-repeat-y: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: rgb(255, 255, 255);
  position: relative;
}
.shadow-effect-2 {
  position: relative;
  width: 450px;
}
img {
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-top-style: initial;
  border-right-style: initial;
  border-bottom-style: initial;
  border-left-style: initial;
  border-top-color: initial;
  border-right-color: initial;
  border-bottom-color: initial;
  border-left-color: initial;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  vertical-align: middle;
}
.img-responsive, .thumbnail > img, .thumbnail a > img, .carousel-inner > .item > img, .carousel-inner > .item > a > img {
  display: block;
  max-width: 100%;
  height: auto;
}
img.img-bordered {
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-color: rgb(238, 238, 238);
  border-right-color: rgb(238, 238, 238);
  border-bottom-color: rgb(238, 238, 238);
  border-left-color: rgb(238, 238, 238);
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  width: 450px;
}
.full-width {
  width: 100%;
}
.overflow-h {
  overflow-x: hidden;
  overflow-y: hidden;
}
.pull-left {
  float: left;
}
.headline1 {
  display: block;
  margin-top: 10px;
  margin-right: 0px;
  margin-bottom: 25px;
  margin-left: 0px;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}
h1, .h1, h2, .h2, h3, .h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}
h2, .h2 {
  font-size: 30px;
}
h2 {
  font-family: inherit;
  color: rgb(25, 153, 221);
  font-weight: 400;
  font-size: 24px;
  line-height: 33px;
}
h1, h2, h3, h4, h5, h6 {
  color: rgb(85, 85, 85);
  margin-top: 5px;
  text-shadow: none;
  font-weight: normal;
  font-family: "Open Sans", Arial, sans-serif;
}
.headline1 h2, .headline1 h3, .headline1 h4 {
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: rgb(161, 15, 43);
}
h2::before {
  display: block;
  content: " ";
  margin-top: -150px;
  height: 150px;
  visibility: hidden;
}
.about-me h2 {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  font-size: 20px;
  text-transform: uppercase;
}
.about-me span {
  color: rgb(153, 153, 153);
  display: block;
  font-size: 14px;
  margin-bottom: 10px;
}
ul, ol {
  margin-top: 0px;
  margin-bottom: 10px;
}
.pull-right {
  float: right;
}
.social-icons {
  margin-top: 5px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
.about-me .social-icons {
  margin-top: 7px;
}
.social-icons li {
  list-style-type: none;
  list-style-position: initial;
  list-style-image: initial;
  margin-right: 0px;
  margin-bottom: 0px;
  text-indent: -9999px;
  display: inline-block;
  margin-top: 0px;
  margin-left: 0px;
}
p, li, li a, label {
  color: rgb(85, 85, 85);
}
a {
  background-color: transparent;
  color: rgb(114, 192, 44);
  text-decoration-line: none;
  text-decoration-style: initial;
  text-decoration-color: initial;
  cursor: pointer;
}
a:focus {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 5px;
  outline-offset: -2px;
  text-decoration-line: none;
  text-decoration-style: initial;
  text-decoration-color: initial;
}
a, a:visited {
  color: rgb(116, 243, 200);
  text-decoration-line: none;
  text-decoration-style: initial;
  text-decoration-color: initial;
}
a, a:focus, a:hover, a:active, button, button:hover {
  outline-color: initial;
  outline-style: initial;
  outline-width: 0px;
}
.social-icons li a, a.social-icon {
  width: 28px;
  height: 28px;
  display: block;
  background-position-x: 0px;
  background-position-y: 0px;
  background-repeat-x: no-repeat;
  background-repeat-y: no-repeat;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  transition-delay: initial;
  transition-property: all;
}
.social-icons li:hover a {
  background-position-x: 0px;
  background-position-y: -38px;
}
.social_facebook {
  background-image: url("../public/img/icons/social/facebook.png");
  background-position-x: initial;
  background-position-y: initial;
  background-size: initial;
  background-repeat-x: no-repeat;
  background-repeat-y: no-repeat;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: initial;
}
.rounded-x {
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
}
a, a:focus, a:hover, a:active {
  outline-color: initial;
  outline-style: initial;
  outline-width: 0px;
}
a:hover {
  color: rgb(114, 192, 44);
  text-decoration-line: underline;
  text-decoration-style: initial;
  text-decoration-color: initial;
}
.social-icons li a {
  margin-top: 0px;
  margin-right: 3px;
  margin-bottom: 0px;
  margin-left: 3px;
}
.social_twitter {
  background-image: url("../public/img/icons/social/twitter.png");
  background-position-x: initial;
  background-position-y: initial;
  background-size: initial;
  background-repeat-x: no-repeat;
  background-repeat-y: no-repeat;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: initial;
}
.social_instagram {
  background-image: url("../public/img/icons/social/instagram.png");
  background-position-x: initial;
  background-position-y: initial;
  background-size: initial;
  background-repeat-x: no-repeat;
  background-repeat-y: no-repeat;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: initial;
}
.social_linkedin {
  background-image: url("../public/img/icons/social/linkedin.png");
  background-position-x: initial;
  background-position-y: initial;
  background-size: initial;
  background-repeat-x: no-repeat;
  background-repeat-y: no-repeat;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: initial;
}
p {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 10px;
  margin-left: 0px;
  text-align: justify;
}
b, strong {
  font-weight: bold;
}
.bio-links {
  color: rgb(108, 51, 6);
}
.bio-links:hover {
  color: rgb(108, 51, 6);
}